$my-colour: #09d2b1;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    background: #eee;
    color: #333;
    font-family: Roboto, sans-serif;
}

.centred-form {
    background: #fff;
    margin: auto;
    width: 80%;
    max-width: 600px; 
    border: 1px solid $my-colour;
    padding: 50px;
    border-radius: 15px;
    h1 {
        margin: 0 0 2rem 0;
        padding: 0;
        color: $my-colour;
        font-weight: 300;
        font-size: 2.5rem;
    }
    .form-group {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border: 0;
        padding: 0;
        margin: 0;
        label, legend {
            margin-bottom: .5rem;
        }
        input {
            padding: .5rem;
            border: 1px solid #999;
            border-radius: 5px;
        }
        input[type="text"], input[type="email"], input[type="password"] {
            width: 100%;
        }
        .check-options {
            display: flex;
            flex-direction: row;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: .5rem 1rem;
            width: 100%;
            .form-check:not(:last-child) {
                margin-right: 1rem;
            }
        }
        button[type="submit"] {
            background: $my-colour;
            color: #333;
            padding: .75rem 1.5rem;
            border: 0;
            border-radius: 5px;
            font-size: 1rem;
        }
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }
}